<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section >
    <div class="registration">
      <div class="closeButton text-end">
        <button type="button" class="btn-close btn-lg bg-white text-black me-3 mt-2" 
        mat-dialog-close aria-label="Close"></button>
      </div>
      <form class="form-group">
        <div class="col g-3 align-items-center">
          <div class="form-header col-auto text-start">
            <label class="col-form-label fs-3 fw-bold mb-3 text-start">Enter your email to continue</label>
              <p class="fs-5 mb-4">Log in to Star Wars with your MyDisney account. 
                If you don't have one, you will be prompted to create one.</p>
          </div>
          <div class="form-input inputEMail col-auto mb-3">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="form-button d-grid">
          <button type="button" class="btn btn-warning btn-lg fw-bold text-black">Continue</button>
        </div>
        <footer class="form-footer">
          <p class="text-start mt-5 fw-bold">
            Star Wars is part of The Walt Disney Family of Companies.</p>
          <p class="text-start"> MyDisney lets you seamlessly log in to services and experiences across 
            The Walt Disney Family of Companies, such as Disney+, ESPN, Walt Disney World, and more.</p>
        </footer>
      </form>
    </div>
  </section>
  
</body>
</html>

