 #starwars {
  max-height: 100%;
  width: 100%;
  position: relative;
}
 .animate {
  .intro {
    font-size: 200%;
    color: #f3f9fb;
    text-align: center;
    width: 578px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: intro 5s linear 0s;
    opacity: 0;
  }
  .intro-link{
  font-size: 200%;
  color: #f3f9fb;
  text-align: center;
  width: 578px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: intro-link 2s linear 14s forwards;
  opacity: 0;
}
}
  @keyframes intro {
    0% { 
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
    80% { 
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
  @keyframes intro-link {
    0% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  position: absolute;
  width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: logo  10s linear 5s;
  opacity: 0;
}
@keyframes logo {
  0% { 
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
    80% { 
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

video {
  max-width: 100%;      
  max-height: 550px;    
  object-fit: cover;    
}
