.description{
  display: flex;
  justify-content: center;
}

.shipInfo{
  display: grid;
  width: auto;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(45, 44, 44);
  color: white;
  border-left: 1px solid red;
  padding: 10px 10px;
}