<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="container-fluid d-flex px-3 justify-content-end align-items-end pt-5">
    <div class="logo col-4 text-center">
      <span>
        <img src="assets/mainLogo.png" alt="Star Wars Logo" width="400" height="200">
      </span>
    </div>
    <div class="registration col-4 text-end">
      <button type="button" class="btn btn-dark me-3">LOG IN</button>
      <button type="button" class="btn btn-dark">SIGN UP</button>
    </div>
  </header>
  <nav>
    <ul class="nav nav-underline pt-5 justify-content-center text-white border-top border-bottom border-light-subtle">
    <li class="nav-item">
      <a class="nav-link text-white fs-5"
        routerLink="app-home" routerLinkActive ="active" ariaCurrentWhenActive ="page">
        HOME
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white fs-5" 
      routerLink="/app-starships" routerLinkActive ="active" ariaCurrentWhenActive ="page">
        STARSHIPS
      </a>
    </li>
  </ul>
  </nav>

<router-outlet></router-outlet>

</body>
</html>




 <!--
SEMANTIC TAGS (construct more correct structure of the site, but ued not often, 
BUT better have it):
- Header / could contain Logo, h1 (main title)
- Nav
- Main (main info)
- Article or Section (divide the info for sections with different purpos).
Inside tag Main
- #SideBar
 /aside
- Footer

-->
 <!-- LISTS TYPES:

 <ul type="square"> The ul (MORE USUAL) container for the lists li with round puntos
        (or using type ='' we can change it to any othe sign) -->
   <!--      <li>Element of list ul</li>


    </ul>

    <ol type="I"> The ol container for the lists li with numbers
        (or using type ='' we can change it to any othe sign (arabic numbers, letters)) -->
       <!--  <li>Element of the list</li>
        <li>Element of the list</li>
        <li>Element of the list</li>
    </ol> 
 -->



