<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <nav class="social-nav">
        <ul class="social-list d-flex">
          <li class="tiktok-icon me-4">
            <a href="https://www.tiktok.com/@starwars" target="_blank">
              <i
                class="fab fa-tiktok"
                style="color: white; font-size: 25px"
              ></i>
            </a>
          </li>
          <li class="instagram-icon me-4">
            <a href="https://www.instagram.com/starwars/" target="_blank">
              <i
                class="fa-brands fa-instagram"
                style="color: white; font-size: 25px"
              ></i>
            </a>
          </li>
          <li class="twitter-icon me-4">
            <a href="https://twitter.com/starwars" target="_blank">
              <i
                class="fa-brands fa-x-twitter"
                style="color: white; font-size: 25px"
              ></i>
            </a>
          </li>
          <li class="facebook-icon me-4">
            <a href="https://facebook.com/starwars" target="_blank">
              <i
                class="fa-brands fa-facebook"
                style="color: white; font-size: 25px"
              ></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-logo text-end pb-3 pt-2">
        <a
          routerLink="app-home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <img
            src="assets/mainLogo.png"
            alt="Star Wars Logo"
            width="250"
            height="100"
          />
        </a>
      </div>
      <div class="header-buttons">
        <div class="search d-flex">
           @if(!searchInputActive){
        <button type="button" class="btn search-button text-white fs-6 me-3" (click)="showInput()">
          <i class="fa fa-search me-2"></i>
          SEARCH
        </button>
        }
        @if(searchInputActive){
          <input type="text" class="form-control">
          <button type="button" class="btn-close btn-lg bg-white text-black ms-2 py-2 px-2"
          (click)="hideInput()">
        </button>
        }
        </div>
       <div >
          @if(!authService.loggedIn()){
          <button type="button" class="btn login-button text-white fs-6 me-3"
          routerLink="/app-registration"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >
            <i class="fa fa-user me-2"></i>
            LOG IN
          </button>
          } @if(authService.loggedIn()){
          <div class="loggedin-state d-grid text-center">
            <button
              type="button"
              class="btn logout-btn text-white me-3 mb-2 fs-6"
              (click)="authService.logOut()"
            >
              LOG OUT
            </button>
        </div>
        }
       </div>
      </div>
    </header>
    <nav>
      <ul
        class="nav nav-underline pt-5 justify-content-center text-white border-top border-bottom border-light-subtle"
      >
        <li class="nav-item">
          <a
            class="nav-link text-white fs-4"
            routerLink="app-home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="font-family: 'Courier New', Courier, monospace"
          >
            HOME
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white fs-4"
            routerLink="/app-starships"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="font-family: 'Courier New', Courier, monospace"
          >
            STARSHIPS
          </a>
        </li>
      </ul>
    </nav>

    <router-outlet></router-outlet>
  </body>
</html>
