<div class="close-button text-end">
  <button
    type="button"
    class="btn-close btn-lg bg-white text-black"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal modal-fullscreen" #myModal class="registration-form">
  <form class="form-group" [formGroup]="form">
    <div class="col g-3 align-items-center">
      <div class="form-header col-auto text-start">
        <label class="col-form-label fs-3 fw-bold mb-3 text-start">
          Enter your email and password to continue
        </label>
        <p class="fs-6 mb-4">
          Log in to Star Wars with your MyDisney account. If you don't have one
          then Sign Up.
        </p>
      </div>
      <div class="form-input inputEMail col-auto mb-3">
        <input
          type="email"
          class="form-control pt-3"
          placeholder="Email"
          formControlName="email"
        >
        @if(form.controls['email'].touched){
          @if(form.controls['email'].errors?.['required']){
            <p class="validations">This field is required.</p>}
          @if(form.controls['email'].errors?.['email']){
            <p class="validations">Enter your e-mail correctly.</p>
          }
        }
      </div>
      <div class="form-input password col-auto mb-3">
        <input
          type="password"
          class="form-control pt-3"
          placeholder="Password"
          formControlName="password"
        >
        @if(form.controls['password'].touched){
          @if(form.controls['password'].errors?.['required']){
            <p class="validations">This field is required.</p>}
          @if(form.controls['password'].errors?.['pattern']){
            <p class="validations">Only numbers are allowed.</p>
          }
          @if(form.controls['password'].errors?.['minlength']){
            <p class="validations">Minimum 5 numbers.</p>
          }
        }
      </div>
      @if(authService.newReg()){
      <div class="form-input username col-auto mb-3">
        <input
          type="username"
          class="form-control pt-3"
          placeholder="Username"
          formControlName="username"
        >
        @if(form.controls['username'].touched){
          @if(form.controls['username'].errors?.['required']){
            <p class="validations">This field is required.</p>}
        }
      </div>
      }
    </div>
    @if(!authService.newReg()){
    <div class="form-button d-grid mb-2">
      <button
        type="button"
        class="btn btn-warning btn-lg fw-bold text-black"
        (click)="logIn()"
      >
        Log In
      </button>
    </div>
    <div class="form-button d-grid">
      <button
        type="button"
        class="btn btn-warning btn-lg fw-bold text-black"
        (click)="authService.openRegRofm()"
      >
        Sign Up
      </button>
    </div>
    } @if(authService.newReg()){
    <div class="form-button d-grid">
      <button
        type="button"
        class="btn btn-warning btn-lg fw-bold text-black"
        (click)="register()"
      >
        Continue
      </button>
    </div>
    }
    <footer class="form-footer">
      <p class="text-start mt-5 fw-bold">
        Star Wars is part of The Walt Disney Family of Companies.
      </p>
      <p class="text-start">
        MyDisney lets you seamlessly log in to services and experiences across
        The Walt Disney Family of Companies, such as Disney+, ESPN, Walt Disney
        World, and more.
      </p>
    </footer>
  </form>
</div>
