<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

 <section class="filmsList ">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel fade" data-bs-interval="2000">
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="assets/films/home1.jpeg" class="d-block w-100" alt="mainIMG1">
        </div>
        <div class="carousel-item ">
          <img src="assets/films/home2.jpeg" class="d-block w-100" alt="mainIMG2">
        </div>
        <div class="carousel-item ">
          <img src="assets/films/home3.jpeg" class="d-block w-100" alt="mainIMG3">
        </div>
      </div>
    </div>
 </section> 
</body>
</html>
