<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="filmsList ">
    <div id="carouselExampleSlidesOnly" class="carousel carousel-fade" 
    data-bs-ride="carousel" data-bs-interval="2000">
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <img src="assets/home1.jpeg" class="d-block" alt="mainIMG1">
        </div>
        <div class="carousel-item d-flex justify-content-center">
          <img src="assets/home2.jpeg" class="d-block" alt="mainIMG2">
        </div>
        <div class="carousel-item d-flex justify-content-center">
          <img src="assets/home3.jpeg" class="d-block" alt="mainIMG3">
        </div>
      </div>
    </div>
 
  </main>
</body>
</html>



  
 
